html, body {
  margin: 0;
  padding: 0;
  width:360px;
  margin: 0 auto;
  background-color: #414141;
}
.container-menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 10px;
    width: 100%;
    height: 70px;
    border-radius: 50px;
}
.pesquisa {
    margin-top: 18px;
    margin-left: 57px;
}
.pesquisa input {
    width: 205px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: transparent;
    color: white;
}
.pesquisa input:focus {
    outline: none;
    box-shadow: none; 
}
.pesquisa button {
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    right: -196px;
    top: -35px;
}
.pesquisa i {
    font-size: 20px;
    color: #a400ff;
} 
.pesquisa i:hover {
    color: #ffffff;
} 
.perfil {
    margin-top: 16px;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil i {
    font-size: 34px;
    color: white;
    margin-top: 2px;
}
.acoes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 15px;
    margin-top: 10px;
}
.acoes button {
    background-color: black;
    padding: 4px 15px 4px 15px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.acoes button i{
    font-size: 15px;
    color: #000000;
    background-color: #a400ff;
    border-radius: 50%;
    padding: 3px;
}

#menu-bar {
    width: 31px;
    height: 80px;
    margin: 39px 0 0px 41px;
    cursor: pointer;
}

.bar {
  height: 3px;
  width: 67%;
  background-color: #a400ff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-3px) rotateZ(37deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

.valor-inicial{
  background-color: red;
  width: 100%;
  height: 300px;
}


.valor-box {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  margin-top: 15px;
  cursor: pointer;
  transition: height 0.4s ease;
  color: rgb(255, 255, 255);
}

.valor-box.aberto {
  height: 300px;
}

.historico {
  padding: 15px;
  color: white;
  max-height: 230px;
  overflow-y: auto;
  display: none;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.header {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.historico::-webkit-scrollbar {
  display: none; 
}

.valor-box.aberto .historico {
  display: block;
}
.catraca{
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border: none;
}
.catraca.inicial{
  color: rgb(32, 255, 3);
  font-size: 18px;
}
.titulo.inicial{
  color: rgb(30, 255, 0);
}

.catraca i {
  display: inline-block; 
  transition: transform 0.3s ease;
}

.catraca.girado i {
  transform: rotate(180deg);
}

